{% extends 'hod_template/base_template.html' %}

{% block h4_title %} | <span style="background-color: white; padding:3px; border-radius: 4px;" > Professor Leave</span> {% endblock %}

{% block page_title %}
    Leave Apply by Professors
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Leave Apply by Professor</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Staff ID</th>
                                    <th>Staff Name</th>
                                    <th>Leave Date</th>
                                    <th>Leave Message</th>
                                    <th>Applied On</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                {% for leave in leave %}
                                <tbody>
                                <tr>
                                    <td>{{ leave.id }}</td>
                                    <td>{{ leave.staff_id.admin.id }}</td>
                                    <td>{{ leave.staff_id.admin.first_name }} {{ feedback.staff_id.admin.last_name }}</td> 
                                    <td>{{ leave.leave_date }}</td>
                                    <td>{{ leave.leave_message }}</td>
                                    <td>{{ leave.created_at }}</td>
                                    <td>
                                        {% if leave.leave_status == 0 %}
                                            <a href="{% url 'staff_leave_approve' leave_id=leave.id %}" class="btn btn-success">Approve</a>
                                            <a href="{% url 'staff_leave_reject' leave_id=leave.id %}" class="btn btn-danger">Reject</a>
                                        {% elif leave.leave_status == 1 %}
                                            <button class="btn btn-warning" disabled="disabled">Approved</button>
                                        {% else %}
                                            <button class="btn btn-danger" disabled="disabled">Rejected</button>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>
                <!-- Pagination -->
        <div class="pagination justify-content-end">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
            {% if leave.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo First</a></li>
                <li class="page-item"><a href="?page={{leave.previous_page_number}}" class="page-link">Previous</a></li>
            {% endif %}

            <!-- <li class="page-item"><a href="#" class="page-link">Page {{ leave.number }} of {{ leave.paginator.num_pages }}</a></li> -->
            {% for i in nums %}
            <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{ forloop.counter }}</a></li>
            {% endfor %}

            {% if leave.has_next %}
                <li class="page-item"><a href="?page={{ leave.next_page_number}}" class="page-link">Next</a></li>
                <li class="page-item"><a href="?page={{leave.paginator.num_pages}}" class="page-link">Last &raquo</a></li>
            {% endif %}
            </ul>
            </nav>
        </div>
            <!-- End Pagination -->
        </div><!-- /.container-fluid -->
      </section>



  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}

  {% endblock custom_js %}